# deps
node_modules/
.pnp
.pnp.js

# next
.next/
out/
next-env.d.ts

# misc
.DS_Store
*.pem
.env*.local

# editor
.vscode/
.idea/

# Brainstorm visual companion
.superpowers/

# 字体子集原文件缓存(~50MB)
resources/fonts-src/
